/*SEHS4517 Web Application Development and Management
// Group Projrct
// Submission date: 29 November 2025
// Full name: Yun Ka Lok
// Student ID: 24056180S
*/

body {
    font-family: Arial, sans-serif;
    background-image: url("Deluxe Room.avif"); /* 確認路徑正確 */
    background-size: cover;
    background-position: center; /* 讓圖片居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.85); /* 半透明白色 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center; /* Text Center */
}

button {
    display: block;       /* Button to element */
    margin: 20px auto;    /* Align Center */
    width: 150px;         /* Fixed width */
    padding: 10px;
    background: #4facfe;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6fb;
}